<header id="appHeader" {{action "menuToggle"}}>
    <span class="pull-left">
        {{icon-device "menu"}}
    </span>
    <span class="pull-right hidden">
        {{icon-device "menu"}}
    </span>
    <h1 id="page-title">
        {{pageTitle}}
    </h1>
</header>
<div id="content" class="{{menuOpen}}">
    <div id="menu" class="menuAnimate">
        <ul {{action 'menuToggle'}}>
            <li {{action "transitionPage" "assignments.due" "Assignments"}}>
                <div>
                    {{icon-device "assignments"}}
                </div>
                <span>
                    Assignments
                </span>
                <!--span class="whatsdue count"></span-->
            </li>
            <li {{action "transitionPage" "completedAssignments" "Completed"}}>
                <div>
                    {{icon-device "completed"}}
                </div>
                <span>
                    Completed
                </span>
            </li>
            <li {{action "transitionPage" "courses" "My Courses"}}>
                <div>
                    {{icon-device "courses"}}
                </div>
                <span>
                    My Courses
                </span>
            </li>
            <li {{action "transitionPage" "settings" "Settings"}}>

                <div>
                    {{icon-device "reminders"}}
                </div>
                <span>
                    Settings
                </span>
            </li>
            <li{{action "transitionPage" "support" "Support"}}>
                <div>
                    {{icon-device "info"}}
                </div>
                <span>
                    Feedback &amp; Support
                </span>
            </li>
        </ul>
    </div>
    <div id="main" class="{{loading}}">
        <i class="fa fa-spinner fa-pulse"></i>
        <div class="content">
            {{outlet}}
        </div>
    </div>
</div>
{{outlet 'welcome'}}

<!--Allow cordova to trigger actions -->
<div class="hidden">
    <div id="addCourseProgrammatically" {{action 'addCourse' courseCodeForBranch}}>
        {{input value=courseCodeForBranch}}
    </div>
</div>