<div id="newAssignments">
    <nav>
        <div class="due">
            What's Due
            <span class="badge square black">
                {{totalDue}}
            </span>
        </div>
        <div class="vertical-seperator white"></div>
        <div class="overdue">
            Overdue
            <span class="badge square black">
                {{totalOverdue}}
            </span>
        </div>
    </nav>
    <div id="assignments-due" class="needsclick">
        {{firstOfDay}}
        <div class="arrow-up"></div>
        {{#each groupedCards}}
            <div class="day-divider">{{key}}</div>
                {{#each assignment in this}}
                    {{assignment-card assignment=assignment toggleModal='toggleModal' removeAssignment='removeAssignment'}}
                {{/each}}
        {{/each}}
    </div>

    <div id="assignments-overdue">
        <div class="arrow-up"></div>
        <div class="day-divider">
            Overdue
        </div>
        {{#each assignment in overdue}}
            {{assignment-card assignment=assignment toggleModal='toggleModal' removeAssignment='removeAssignment'}}
        {{/each}}
    </div>
    <div class="static-content nothing-due hidden">
        <img src="assets/img/thumbs-up.png">
        <h2 class="centered">
            Looks like you've got nothing due
        </h2>
    </div>
</div>
{{#if isShowingModal}}
    {{#modal-dialog close="toggleModal"
    alignment="center"
    translucentOverlay=true}}
            <div class="buttons">
                <div {{action 'share'}} class="button share">
                    Share
                </div>

                <div {{action 'cancel'}} class="button close">
                    Cancel
                </div>
            </div>
    {{/modal-dialog}}
{{/if}}
