<div class="slider left-box {{assignment.hiding}}" {{action 'slideOver' assignment on="swipe"}}>
    <div {{action 'removeAssignment' assignment}} class="reveal">
           <p>
               Mark as <br>
               Done
           </p>
    </div>
    <div {{action 'slideOver' assignment }} id="{{assignment.id}}" class ="fastAnimate {{assignment.open}} {{assignment.urgencyLabel}}">
        <div class="time">
            {{#if assignment.time_visible}}
                <span class="from-now">
                {{assignment.fromNow}} ago
            </span>
            <span class="time-due">
                {{assignment.timeDue}}
            </span>
            {{else}}
                <span class="time-due">
                    Morning
                </span>
            {{/if}}
            <div class="course">
                {{ assignment.course_id.course_name }}
            </div>
        </div>
        <div class="info">

            <div  class="title">
                {{assignment.assignment_name}}
            </div>
            <div class="description">
                {{description-text assignment.description}}
            </div>

        </div>
        {{input class="date-due" type='hidden' value=assignment.daysAway}}
    </div>
</div>